<div class="navbar navbar-fixed-top lower-nav" id="sort-bar">
  <div class="navbar-header nav-justified">
    <a href="/time" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-calendar"/></a>
    <a href="/tags/pop" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-tags"/></a>
    <a href="/emotion" class="btn btn-default btn-lg"><span class="fa fa-smile-o"/></a>
  </div>
</div>
