<div class="navbar navbar-fixed-top lower-nav" id="sort-bar">
  <div class="navbar-header nav-justified">
    <a href="/time" class="btn"><span class="glyphicon glyphicon-calendar inactiveSort"/></a>
    <a href="/tags/pop" class="btn"><span class="glyphicon glyphicon-tags inactiveSort"/></a>
    <a href="/emotion" class="btn"><span class="fa fa-smile-o inactiveSort"/></a>
  </div>
</div>
