<div class="custom-nav-wrapper">
  <div class="custom-nav">
    <div class="btn-group-lg">
      <a href="home" class="btn btn-default"><span class="glyphicon glyphicon-home"/></a>
      <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-calendar"/></a>
      <a href="tags" class="btn btn-default"><span class="glyphicon glyphicon-tags"/></a>
      <a href="create_new" class="btn btn-default"><span class="glyphicon glyphicon-plus"/></a>
      <a href="#" class="btn btn-default" id="search-button"><span class="glyphicon glyphicon-search"/></a>
    </div>
    <div id="search-bar">
      <form class="search-form">
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>
</div>