<!doctype html>

<html>
<head>
    <title>Create new account</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet">
    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
  </head>

  <body>
    <div class="container">
        <h3>Create your account</h3><br>
        <form >
            <input type="firstName" class="form-control" id="userFirstName" placeholder="First Name"/>
            <input type="lastName" class="form-control" id="userLastName" placeholder="Last Name"/>
            <input type="email" class="form-control" id="userEmail" placeholder="Enter Email"/>
            <input type="password" class="form-control" id="userPassword" placeholder="Enter Password" />
            <input type="password" class="form-control" id="userPassword" placeholder="Confirm Password"/>
            <br>

            <form action="">
              <input type="checkbox" name="vehicle" value="Bike"> I agree to the terms and services
            </form>
            <br>

            <a href="/home" class="btn btn-primary">Create</a>
            <!-- <button type="submit" class="btn btn-default">Login</button> -->

        </form>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/global.js"></script>
  </body>
  </html>
