<!doctype html>

<html>
<head>
    <title>Create new account</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet">
    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
  </head>

  <body>
    <div class="container">
        <h3>Create your account</h3><br>
        {{#if message}}
          <div class="alert alert-{{message.[0]}} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{message.[1]}}
          </div>
        {{/if}}
        <form class="entry-form" role="form" action="/createAccount" method="post">
            <input type="firstName" class="form-control" name="userFirstName" placeholder="First Name"/>
            <input type="lastName" class="form-control" name="userLastName" placeholder="Last Name"/>
            <input type="username" class="form-control" name="username" placeholder="Enter Username"/>
            <input type="password" class="form-control" name="userPassword" placeholder="Enter Password" />
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password"/>
            <br>
            <input type="checkbox" name="terms" value="check"> I agree to the terms and services
            <br>

            <input type="submit" class="btn btn-primary" value="Create"/>

            <!-- <button type="submit" class="btn btn-default">Login</button> -->

        </form>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/global.js"></script>
  </body>
  </html>
