<!doctype html>

<html>
<head>
    <title>Settings</title>    
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet">
    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
  </head>

  <body>
    {{> toolbar}}
    <div class="container padding-top-settings">
    <h3>Settings</h3>

    {{#if message}}
      <div class="alert alert-{{message.[0]}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{message.[1]}}
      </div>
    {{/if}}
    <h5 id="aboutDiv" class="settingDivs"><span class="glyphicon glyphicon-chevron-down"></span> About</h5>
    <div style="display:none;" id="about">JournalApp is your private journal that's with you wherever you go.</div>
    
      <h5 id="supportDiv" class="settingDivs"><span class="glyphicon glyphicon-chevron-down"></span> Submit support request</h5>
    <div style="display:none;" id="support">
    <form class="navbar-form navbar-left" action="/support">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Subject">
        <textarea class="form-control" rows="10" id="entryText" placeholder="Problem description"></textarea>
      </div>
     <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
    
      <h5 id="passDiv" class="settingDivs"><span class="glyphicon glyphicon-chevron-down"></span> Change Password</h5> 
    <div style="display:none;" id="pass">
    <form class="navbar-form navbar-left" action="/changePass" method="post">
      <div class="form-group">
        <input type="password" class="form-control" name="oldpass" placeholder="Current Password"></div>
        <div class="form-group">
        <input type="password" class="form-control" name="newpass" placeholder="New Password">
      </div>
     <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

      <h5 id="termsDiv"class="settingDivs"><span class="glyphicon glyphicon-chevron-down"></span> Terms of Service</h5>
    <div style="display:none;" id="terms">We keep all of your secrets.</div>


    <form action="/logout" method="post">
      <input type="submit" id="logoutButton" class="btn btn-primary" value="Logout"/>
    </form>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/settings.js"></script>
  </body>
  </html>
