<!doctype html>

<html>
<head>
    <title>Settings</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet">
    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
  </head>

  <body>
    <div class="container padding-top">
    {{> toolbar}}
    {{> sortbar}}
    <h3>Settings</h3>
    <div onclick="elm = document.getElementById('about'); if(elm.style.display == 'none') elm.style.display = 'block'; else elm.style.display = 'none';">
      <h5>About</h5></div> 
    <div style="display:none;" id="about">JournalApp is your private journal that's with you wherever you go.</div>
    
    <div onclick="elm = document.getElementById('support'); if(elm.style.display == 'none') elm.style.display = 'block'; else elm.style.display = 'none';">
      <h5>Submit support request</h5></div> 
    <div style="display:none;" id="support">
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Subject">
        <textarea class="form-control" rows="10" id="entryText" placeholder="Problem description"></textarea>
      </div>
     <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
    
    <div onclick="elm = document.getElementById('drop'); if(elm.style.display == 'none') elm.style.display = 'block'; else elm.style.display = 'none';">
      <h5>Change Password</h5></div> 
    <div style="display:none;" id="drop">
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Current Password">
        <input type="text" class="form-control" placeholder="New Password">
      </div>
     <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

<div onclick="elm = document.getElementById('terms'); if(elm.style.display == 'none') elm.style.display = 'block'; else elm.style.display = 'none';">
      <h5>Terms of Service</h5></div> 
    <div style="display:none;" id="terms">We keep all of your secrets.</div>

    <input type="submit" id="logoutButton" class="btn btn-primary" value="Logout"/>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/global.js"></script>
  </body>
  </html>
