<!doctype html>

<html>
<head>
  <title>Tags</title>    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/global.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
    </head>

    <body>
      <div class="container padding-top">
        {{> toolbar}}
        {{> tagbar}}
        <h3>Entries by tags</h3>
       <div class="list-group">
        <a href="/search?queryString=coding&queryField=tag" class="list-group-item">coding
          <span class="badge">2</span>
        </a>
        <a href="/search?queryString=love&queryField=tag" class="list-group-item">love
          <span class="badge">2</span>
        </a>
        <a href="/search?queryString=CS147&queryField=tag" class="list-group-item">CS147
          <span class="badge">1</span>
        </a>
         <a href="/search?queryString=relationship&queryField=tag" class="list-group-item">relationship
          <span class="badge">1</span>
        </a>
         <a href="/search?queryString=coffeeftw&queryField=tag" class="list-group-item">coffeeftw
          <span class="badge">1</span>
        </a>
        <a href="/search?queryString=hate&queryField=tag" class="list-group-item">hate
          <span class="badge">1</span>
        </a>
         <a href="/search?queryString=delirium&queryField=tag" class="list-group-item">delirium
          <span class="badge">1</span>
        </a>
      </div>


    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/global.js"></script>
  </body>
  </html>
