.custom-nav-wrapper {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 1000;
}

.custom-nav {
    background: white;
    position: absolute;
    height: 45px;
    width: 100%;
    z-index: 9999;
}

body {
    padding-top: 45px;
}

body.tmpfix{
    padding-top:0px;
}

.lower-body {
    padding-top: 100px;
}

a.thumbnail {
    color: black;
}

a.thumbnail:hover {
    text-decoration: none;
}

.btn-default{
    background: none;
    background: white;
}

.btn-primary{
    background: none;
    background: #E94E77;
    border-color: #E94E77;
}

#search-bar{
    display: none;
}

#search-bar input {
    width: 70%;
    display: inline-block;
}

.new-topbar{
    padding: 20px 0px 20px 0px;
}

.new-topbar-text{
    font-size: 18pt;
}

#tags{
    padding:5px 0px;
    word-wrap: break-word;
}