/*Background beige: #F4EAD5
seafoam: #C6E5D9
pinkish: #D68189*/

.lower-nav {
    top: 45px;
    text-align: center;
    background: #C6E5D9;
    line-height: 50px;
    z-index: 1020;
    padding: 0 15px;
}

.upper-nav {
    background: #D68189
}

body {
    background: #F4EAD5;
}

body.tmpfix{
    padding-top:0px;
}

.lower-body {
    padding-top: 100px;
}

.lower-body {
    padding-top: 90;
}

.thumbnail {
    max-height: 300px;
}

.thumbnail.preview {
    max-height: 100px;
}

a.thumbnail {
    color: black;
}

a.thumbnail:hover {
    text-decoration: none;
}

.btn-default{
    background: none;
    background: white;
}

.navbar .btn {
    border: none;
    box-shadow: none;
    outline: none;
    background: none;
    color: #333333;

}

.btn-primary{
    background: none;
    background: #E94E77;
    border-color: #E94E77;
}

#search-bar{
    display: none;
}

#search-bar input {
    width: 70%;
    display: inline-block;
}

.new-topbar{
    padding: 20px 0px 20px 0px;
}

.new-topbar-text{
    font-size: 18pt;
}

#tags{
    padding:5px 0px;
    word-wrap: break-word;
}

.padding-top {
    padding-top: 110px;
}

.dateAndTime {
    margin: 0px;
}